.companion {
    display        : flex;
    width          : 100%;
    padding        : 10px;
    align-items    : center;
    text-decoration: none;
    color          : #50186C;
}

.companionActive {
    color: rgb(206, 48, 48);
}

.companion img {
    width           : 44px;
    height          : 44px;
    border-radius   : 5px;
    min-width       : 44px;
    margin-right    : 10px;
    background-color: rgb(41, 41, 41);
}