.companion {
    display        : flex;
    width          : 100%;
    padding        : 10px;
    justify-content: space-around;
    align-items    : center;
    cursor         : pointer;
}

.companionActive {
    color: rgb(206, 48, 48);
}

.companion img {
    width           : 44px;
    height          : 44px;
    border-radius   : 5px;
    background-color: rgb(41, 41, 41);
}

.companion span {
    text-align: center;
}