.header {
    grid-area       : h;
    background-color: #000;
    padding         : 10px 20px;
    display         : flex;
    align-items     : center;
    justify-content: space-between;
}

header img {
    max-width: 70px;
}
.auth{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}
.auth_login{
    color: limegreen;
}
.auth_signIn{
    color: #c58383;
}
