* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-wrap {
  display              : grid;
  grid-template-columns: 3fr 9fr;
  grid-template-areas  : 'h h'
    'n m';
  grid-gap        : 10px;
  background-color: rgb(41, 41, 41);
  min-height      : -webkit-fill-available;
}

.online {
  color: rgb(143, 206, 49);
}

.offline {
  color: rgb(206, 49, 49);
}